body {
  font-family: "Noto Sans JP", sans-serif;
}

h1 {
  color: #28c8ab;
  font-size: 30px;
  background-color: #fcd8d4;
  padding: 20px;
  margin: 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 40px;
  width: 200px;
  height: 200px;
  box-shadow: 5px 5px 10px lightgray, -5px -5px 10px lightgray;
}

h2 {
  background-color: #fcd8d4;
  margin-top: 50px;
}
.blue__para {
  color: blue;
}

#unique__para {
  color: #96d1fe;
}

.signup-button {
  width: 121px;
  height: 50px;
  border: 1px solid #424242;
  border-radius: 10px;
  color: #424242;
  font-size: 18px;
  margin-right: 15px;
}

.signin-button {
  width: 121px;
  height: 50px;
  font-size: 18px;
  background: #28c8ab;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #28c8ab;
}

.header-container {
  display: flex;
  justify-content: space-around ;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #f5f6f8;
  padding-top: 10px;
  padding-bottom: 10px;
}
